* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

button {
  padding: 10px 20px;
  background-color: #2e5eaa;
  border: none;
  color: #fff;
  border-radius: 20px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

table {
  border-collapse: separate;
  font-weight: normal;
  border-spacing: 0 15px;
}

thead {
  background-color: #5894f4;
  border: none;

  th {
    box-sizing: border-box;
    border: none;
    padding: 10px 50px;
    color: white;
    font-weight: normal;
  }

  th:first-child {
    border-radius: 20px 0 0 20px;
  }

  th:last-child {
    border-radius: 0px 20px 20px 0px;
  }
}

tbody {
  background-color: #5894f480; // mismo color con opacidad
  td {
    box-sizing: border-box;
    border: none;
    padding: 10px 50px;
    color: #333; // puedes ajustar el color del texto si lo deseas
    font-weight: normal;
  }

  tr td:first-child {
    border-radius: 20px 0 0 20px;
  }

  tr td:last-child {
    border-radius: 0px 20px 20px 0px;
  }
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Scroll personalizado (opcional, para estética) */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e5eaa;
  border-radius: 3px;
}

.btn-container button {
  position: relative;
  z-index: 10;
  pointer-events: all;

}

.chat-ia  {
  p {
    max-width: 80vw;
    overflow: auto;
    h1 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 1rem;
    }
  }
}

.cdk-overlay-backdrop {
  display: none ; /* Asegúrate de que el fondo esté posicionado fijamente */
}

/* Estilo para el cdk-overlay-container */
.cdk-overlay-container {
  position: fixed !important;
  bottom: -10% !important;    /* Alineación con el fondo */
  left: 10px !important;      /* Alineación con el fondo */
  width: 400px !important;    /* Ancho fijo */
  z-index: 1000;              /* Asegúrate de que el contenedor esté encima */
}

/* Estilo para el cdk-overlay-pane, que es el contenedor real del contenido */
.cdk-overlay-pane {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100% !important;     /* Asegúrate de que el contenido ocupe el 100% del contenedor */
  height: auto !important;    /* Ajuste automático según el contenido */
}

.mat-mdc-dialog-surface {
  border-radius: 5px !important;
}
