.inventory-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

h1 {
  color: #2e5eaa;
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    input {
      background-color: #e7e6e6;
      border: none;
      border-radius: 15px;
      height: 45px;
    }
  }

  input[type="file"] {
    background-color: #e7e6e6;
    border: none;
    border-radius: 15px;
    height: 45px;
    padding: 10px;
    color: #2e5eaa;
    cursor: pointer;

    &::file-selector-button {
      background-color: #5894f4;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 8px 15px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #417ee3;
      }
    }
  }

  span {
    color: #2e5eaa;
    font-size: 10px;
    margin: 10px 0;
  }
}

.table-container {
  max-height: 70vh;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 90%;

  input {
    background-color: #e7e6e6;
    border: none;
    border-radius: 15px;
    height: 35px;
    padding-left: 20px;
  }
}

.btn-container {
  width: 95%;
}

a {
  color: white;
  font-weight: 500;
}
